.swiper {
    background: #FFF6DC;
    height: fit-content;
  }
  
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }

  .swiper-button-prev {
    color: #3C2A21; 
}

.swiper-button-next {
    color: #3C2A21; 
}